<div class="row">
  <div class="col-6 mx-auto">
    <div *ngIf="!notFound" class="card">
      <div class="card-header">
        ID: {{customer.id}}
      </div>
      <div class="card-body">
        <h5 class="card-title">Name: {{customer.name}}</h5>
        <p class="card-text"> telephone: {{customer.telephone}}</p>
        <div class="text-right">
          <button class="btn btn-primary" (click)="onCustomerEdit()">Edit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="customer.address_set.length != 0 && !notFound">

  <div class="row mt-3">
    <div class="col-12 mb-4">
      <h2 class="text-center text-primary">Addresses</h2>
    </div>
    <div class="col-3" *ngFor="let address of customer.address_set;let i = index">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center">Address: {{i+1}}</h4>
          {{address.address}}
        </div>
      </div>
    </div>
  </div>
</ng-container>


<div class="row">
  <div class="col-8 mx-auto">
    <div *ngIf="notFound">
      <app-page-not-found></app-page-not-found>
    </div>
  </div>
</div>
